<div id="headerdivClient">
    <header id="header" class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="#home">
            <span>
              Paspark
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item">
                <a class="nav-link" href="#parking" onclick="return false;">Parking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#bookings" onclick="return false;">Bookings</a>
              </li> 
               <li class="nav-item">
                <a class="nav-link" (click)="loginOut()">Login out</a>
              </li> 
            </ul>
            <form class="form-inline">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </nav>
      </div>
    </header>
    </div>

    <section id="parking" class="slider_section ">
        <div class="container">
          <div class="detail-box col-md-9 mx-auto px-0">
            <h1>
              Finding Parking Lots Made Easy
            </h1>
            <p id="la">
              From this section you can select the parking lot of your preference and the available spaces will be shown.
            </p>
          </div>              
            <div id="parkings" class="container">
                <table class="table table-bordered table-hover" id="parkings-table">
                                  
                                  <thead>
  
                                      <tr>
  
                                          <th>
                                              Name
                                          </th>
                                          
  
                                          <th>
                                              City
                                          </th>
  
                                          <th>
                                              Capacity
                                          </th>                                     
  
                                          <th>
                                              Action
                                          </th>
  
                                      </tr>

                                      <tr *ngFor="let p of parkings; let i=index;">
                                        <td>
                                          {{p.name}}
                                        </td>
                                        <td>
                                          {{p.city}}
                                        </td>
                                        <td>
                                          {{p.capacity}}
                                        </td>
                                        <td>
                                          <button data-toggle="modal" data-target="#modalParkings" class="submit-btn" (click)="getSpots(p.id)">Details</button>
                                        </td>
                                      </tr> 
  
                                  </thead>
  
                                  <tbody id="parking-tbody">
  
                                  </tbody>
  
                              </table>     
            </div> 
        </div>
  
        <!-- Modal -->
                      <div id="modalParkings" class="modal fade" role="dialog">
                        <div class="modal-dialog">
  
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" (click)="deselectSpot()">&times;</button>                         
                            </div>
                            <div class="modal-body" style="overflow: scroll;">
                              <mat-grid-list cols="2" rowHeight="2:1">
                                <mat-grid-tile>
                                  <mat-card style="background-color:red;"><p >Ocupado</p></mat-card>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                  <mat-card style="background-color:green;"><p>Libre</p></mat-card>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                  <mat-card style="background-color:Blue;"><p >Preferencial</p></mat-card>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                  <mat-card style="background-color:white;"><p style="color: black;">Seleccionado</p></mat-card>
                                </mat-grid-tile>
                              </mat-grid-list>
                    
                              <div style="margin: 8px; background-color: blanchedalmond; border-radius: 8px;">
                                <div *ngFor="let s of spots">
                                  <button *ngIf="s.available==='Yes' && s.preferential==='Yes'" id={{s.id}}  style="background-color:blue; margin: 4px; width: 460px;" (click)="saveSpot(s.id)">{{s.id}}</button>
                                  <button *ngIf="s.available==='Yes' && s.preferential==='No'" id={{s.id}}  style="background-color:green; margin: 4px; width: 460px;" (click)="saveSpot(s.id)">{{s.id}}</button>
                                  <button *ngIf="s.available==='No'" id={{s.id}}  style="background-color:red; margin: 4px; width: 460px;">{{s.id}}</button>
                                </div>
                              </div>
                              
                              <button id="getSpotButton" data-toggle="modal" data-target="#modalGetSpot" style="margin: 4px;">Get Spot</button>
  
                            </div>
                          </div>
  
                        </div>
                      </div>
  
                       <!-- Modal -->
                      <div id="modalGetSpot" class="modal fade" role="dialog">
                        <div class="modal-dialog">
  
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>                         
                            </div>
                            <div class="modal-body">
                                <form action="">
                                    <div class=" w3l-form-group">
                                          <label>Vehículo:</label>
                                          <div class="group">                  
                                               <select [(ngModel)]="reservation.vehicleId" name="vehicle" id="vehicles" class="form-control" style="display: block;">
                                                <option *ngFor="let v of vehicles" value={{v.id}}>{{v.name}}</option>
                                               </select>
                                          </div>
                                      </div>
                                      <div class=" w3l-form-group">
                                          <label>Fecha:</label>
                                          <div class="group">                  
                                              <input [(ngModel)]="reservation.date" name="date" id="date" type="date" class="form-control" required="" />
                                          </div>
                                      </div>
                                      <div class=" w3l-form-group">
                                          <label>Período:</label>
                                          <select [(ngModel)]="reservation.totalRate" name="rate" id="rates" class="form-control" style="display: block;">
                                            <option *ngFor="let r of rates" value={{r.amount}}>{{r.type}} - {{r.amount}}</option>
                                           </select>
                                      </div>                                                       
                                      <button (click)="saveBooking()">Save Booking</button>                                  
                                      <label class="result" id="result"></label>
                                  </form>                                                    
                            </div>
                          </div>
  
                        </div>
                      </div>
  
      </section>

      <section id="bookings" class="about_section layout_padding">
        <div class="container">
            <div class="detail-box col-md-9 mx-auto px-0">
              <h1>
                Booking Record
              </h1>          
            </div>              
              <div id="bookings" class="container">
                  <table class="table table-bordered table-hover" id="bookings-table">
                                    
                                    <thead>
    
                                        <tr>
    
                                            <th>
                                                Id
                                            </th>
                                            <th>
                                                Parking
                                            </th>
                                            <th>
                                               Spot Number
                                            </th>                                                
                                            <th>
                                                Date
                                            </th> 
                                            <th>
                                                Amount
                                            </th>  
                                            <th>
                                                Action
                                            </th>
                                          </tr>

                                            <tr *ngFor="let b of bookings; let i=index;">
                                              <td>
                                                {{b.id}}
                                              </td>
                                              <td>
                                                {{b.parkingId}}
                                              </td>
                                              <td>
                                                {{b.spotId}}
                                              </td>
                                              <td>
                                                {{b.date}}
                                              </td>
                                              <td>
                                                {{b.totalRate}}
                                              </td>
                                              <td>
                                                <button data-toggle="modal" data-target="#modalUpdateBookings" class="submit-btn">Edit</button>
                                                <button data-toggle="modal" class="submit-btn" (click)="deleteBooking(b.id)">Delete</button>
                                              </td>
                                            </tr> 
                                    </thead>
    
                                    <tbody id="bookings-tbody">
    
                                    </tbody>
    
                                </table>    
                                
                                 <!-- Modal -->
                        <div id="modalUpdateBookings" class="modal fade" role="dialog">
                          <div class="modal-dialog">
    
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>                            
                              </div>
                              <div class="modal-body">                             
                                        <form action="">
                                             <input type="text" name="id" id="idUpdateBooking" hidden>
                                            <div class=" w3l-form-group">
                                                <label>Vehículo:</label>
                                                <div class="group">                  
                                                     <select id="vehiclesUpdateBooking" class="form-control" style="display: block;">
                                                    
                                                     </select>
                                                </div>
                                            </div>
                                            <div class=" w3l-form-group">
                                                <label>Fecha:</label>
                                                <div class="group">                  
                                                    <input id="dateUpdateBooking" type="date" class="form-control" required="" />
                                                </div>
                                            </div>
                                            <div class=" w3l-form-group">
                                                <label>Hora de entrada:</label>
                                                <div class="group">                  
                                                    <input id="checkintimeUpdateBooking" type="time" class="form-control" required="" />
                                                </div>
                                            </div>
                                            <div class=" w3l-form-group">
                                                <label>Hora de salida:</label>
                                                <div class="group">                  
                                                    <input id="checkouttimeUpdateBooking" type="time" class="form-control" required="" />
                                                </div>
                                            </div>
                                       
                                        <button onclick="UpdateBookings();return false">Update</button>      
                                        <button onclick="Clear();return false">Cancel</button>        
                                        <label class="result" id="result"></label>
                                    </form>                                                              
                              </div>
                            </div>
    
                          </div>
                        </div>
              </div> 
          </div>                   
      </section>

      <footer class="footer_section">
        <div class="container">
          <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="https://html.design/">Free Html Templates</a>
          </p>
        </div>
      </footer>

      
